<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form data</title>
        <style>
            *{
                margin: 0;
                box-sizing: border-box;
            }
            body{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            h1{
                font-size: 40px;
                text-align: center;
                margin-bottom: 20px;
            }
            table{
                width: 1000px;
                padding: 0;
                border: 1px solid #212121;
                margin: 0 auto 20px;
            }
            table thead{
                background-color: slateblue;
                color: white;
            }
            table tr td, table tr th{
                border-bottom: 1px solid #212121;
                border-right: 1px solid #212121;
                padding: 10px;
                font-size: 20px;
                text-align: center;
            }
            table tr:nth-child(even){
                background-color: rgb(223, 220, 242);
            }
        </style>
    </head>
    <body>
        <h1>User Data</h1>
        <form action="/insertData" method="post">
            <table>
                <tr>
                    <td>User ID :</td>
                    <td><input type="number" name="userId"></td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" name="pwd"></td>
                </tr>
                <tr>
                    <td>Phone :</td>
                    <td><input type="number" name="phone"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>

        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% student.map((val) => { %>
                    <tr>
                        <td><%= val.name %></td>
                        <td><%= val.email %></td>
                        <td><%= val.password %></td>
                        <td><%= val.phone %></td>
                        <td>
                            <button>
                                <a href="/deleteData?userId= <%= val.userId %>">Delete</a>
                            </button> ||
                            <button>
                                <a href="/updateData?userId= <%= val.userId %>">Update</a>
                            </button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>